<header class="site-header">

    <!-- Toggle menu -->
    <nav class="clear">
        <a aria-label="pull" id="pull" class="toggle" href="#">
            <i class="fa fa-bars fa-lg"></i>
        </a>
        <!-- Brand Logo -->
        <a class="navbar-brand" href="{{ site.baseurl }}">
            <img src="{{ site.baseurl }}/assets/img/pexels/logo.png" alt="tech-lessons">
        </a>
        <!-- Menu -->
        <ul class="hide">
            {% assign name_page = "" %}

            {% for page in site.pages %}
            {% unless page.title == null or page.hide or name_page contains page.title %}
            <li class="separator"> |</li>
            <li>
                <a class="clear" aria-label="{{ page.title }}" title="{{ page.title }}"
                   href="{{ page.url | relative_url }}">
                    {% if page.icon %}
                        <i class="fa fa-fw {{ page.icon }}" aria-hidden="true"></i>
                        {{ page.title }}
                    {% endif%}
                </a>
            </li>
            {% endunless %}
            {% assign name_page = page.title | append: name_page %}
            {% endfor %}
        </ul>
    </nav>
</header>
